{%header "微信菜单" .%}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href='{%url "Home.Index"%}'><i class="ace-icon fa fa-home home-icon"></i></a>
        </li>
        <li class="parent" data-menu="weixin-menu">微信管理</li>
        <li class="active" data-menu="weixin-menu-menu">微信菜单</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12" style="padding: 0;">
            <div class="gridToolBar clearfix">
                <button class="btn btn-primary btn-sm" onclick="reloadList('#groupList')">
                    <i class="ace-icon fa fa-refresh"></i>
                    刷新
                </button>
                <button class="btn btn-success btn-sm" onclick="downloadMenu()">
                    <i class="ace-icon fa fa-plus"></i>
                    下载
                </button>
                <button class="btn btn-danger btn-sm" onclick="uploadMenu()">
                    <i class="ace-icon fa fa-trash-o"></i>
                    上传
                </button>
            </div>

        </div>
        <script type="text/javascript">
            function downloadMenu() {
                $.ajax({
                           url: '{%url "WeixinMenu.Download" %}',
                           type: "POST",
                           success: function (result) {
                               if (result.success == false) {
                                   $.msg.error(result.message);
                                   return;
                               }
                               else {
                                   $.msg.show(result.message);
                                   return;
                               }
                           }
                       }
                );
            }

            function uploadMenu() {
                $.ajax({
                           url: '{%url "WeixinMenu.Upload" %}',
                           type: "POST",
                           success: function (result) {
                               if (result.success == false) {
                                   $.msg.error(result.message);
                                   return;
                               }
                               else {
                                   $.msg.show(result.message);
                                   return;
                               }
                           }
                       }
                );
            }

        </script>
    </div>
</div>
{%footer%}
