<div class="modal fade" id="menuDetailDialog">
    <div class="modal-dialog" style="width: 440px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="True">&times;</button>
                <h4 class="modal-title">微信菜单详细</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" role="form" id="menuDetailForm">
                            <input id="menu_id" name="form.Menu.Id" type="hidden" value="{%.form.Menu.Id%}"/>
                            <input id="menu_version" name="form.Menu.Version" type="hidden" value="{%.form.Menu.Version%}"/>
                            <div class="form-group">
                                <label for="menu_name" class="col-xs-2 control-label no-padding-right">菜单名</label>
                                <div class="col-xs-10">
                                    <input id="menu_name" name="form.Menu.Name" type="text" class="input-sm form-control" value="{%.form.Menu.Name%}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="menu_type" class="col-xs-2 control-label no-padding-right">类型</label>
                                <div class="col-xs-10">
                                    <select id="menu_type" name="form.Menu.Type" class="input-sm form-control">
                                        {%range $typeIndex, $typeOption := .form.MenuTypeSelectOptions%}
                                        {%if eq $.form.Menu.Type $typeOption.Value%}
                                        <option value="{%$typeOption.Value%}" selected="selected">{%$typeOption.Text%}</option>
                                        {%else%}
                                        <option value="{%$typeOption.Value%}">{%$typeOption.Text%}</option>
                                        {%end%}
                                        {%end%}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="menu_data" class="col-xs-2 control-label no-padding-right">菜单数据</label>
                                <div class="col-xs-10">
                                    <input id="menu_data" name="form.Menu.Data" type="text" class="input-sm form-control" value="{%.form.Menu.Data%}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="menu_level" class="col-xs-2 control-label no-padding-right">层级</label>
                                <div class="col-xs-10">
                                    <select id="menu_level" name="form.Menu.Level" class="input-sm form-control">
                                        {%range $levelIndex, $levelOption := .form.MenuLevelSelectOptions%}
                                        {%if eq (IntToStr $.form.Menu.Level) $levelOption.Value%}
                                        <option value="{%$levelOption.Value%}" selected="selected">{%$levelOption.Text%}</option>
                                        {%else%}
                                        <option value="{%$levelOption.Value%}">{%$levelOption.Text%}</option>
                                        {%end%}
                                        {%end%}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="menu_order" class="col-xs-2 control-label no-padding-right">排序</label>
                                <div class="col-xs-10">
                                    <input id="menu_order" name="form.Menu.Order" type="text" class="input-sm form-control" value="{%.form.Menu.Order%}"/>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="saveMenu()">
                    <i class="ace-icon fa fa-floppy-o"></i>保存
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>关闭
                </button>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
    function saveMenu() {
        showMask("提交中...");
        var form = $("#menuDetailForm");
        var valid = validate(form, {
            'form.Menu.Name': {
                required: true, minlength: 0, maxlength: 12
            },
            'form.Menu.Type': {
                required: false, maxlength: 12
            },
            'form.Menu.Data': {
                required: false, minlength: 2, maxlength: 250
            },
            'form.Menu.Level': {
                required: true, digits: true, min: 1, max: 2
            },
            'form.Menu.Order': {
                required: true, digits: true, min: 1
            }
        });

        if (!valid) {
            hideMask();
        } else {
            $.ajax({
                        url: '{%url "WeixinMenu.Save"%}',
                        type: "POST",
                        data: form.serialize(),
                        success: function (data) {
                            hideMask();
                            if (data.success == false) {
                                $.msg.error(data.message);
                                //return;
                            }
                            else {
                                $.msg.show(data.message);
                                $('#menuDetailDialog').modal('hide');
                                reloadList('#menuList');
                                //return;
                            }
                        }
                    }
            );
        }
    }
</script>

