<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>Home-测试系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/lib/element/theme-default/index.css"/>
    <script type="text/javascript" src="/static/lib/vue/vue.js"></script>
    <script type="text/javascript" src="/static/lib/element/index.js"></script>
    <script type="text/javascript" src="/static/lib/jquery/jquery.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/static/matrix.css"/>
    <script type="text/javascript" src="/static/matrix.js"></script>
</head>
<body>
<div id="navbar" class="navbar">
    <span class="system-title">测试系统</span>
    <div style="float: right;">
        <el-menu id="login-select" mode="horizontal">
            <el-submenu index="login-name">
                <template slot="title"><i class="fa fa-user-circle-o"></i>&nbsp;管理员</template>
                <el-menu-item index="profile"><i class="fa fa-cog"></i>&nbsp;个人设置</el-menu-item>
                <el-menu-item index="logout"><i class="fa fa-power-off"></i>&nbsp;注销</el-menu-item>
            </el-submenu>
        </el-menu>
    </div>
    <div style="clear: both;"></div>
</div>
<div id="main-container" class="main-container">
    <div id="sidebar" class="sidebar">
        <el-menu id="nav-select" default-active="1-1" mode="horizontal">
            <el-submenu index="1">
                <template slot="title">功能导航</template>
                <el-menu-item index="1-1">选项1</el-menu-item>
                <el-menu-item index="1-2">选项2</el-menu-item>
                <el-menu-item index="1-3">选项3</el-menu-item>
            </el-submenu>
        </el-menu>
        <el-menu id="nav-menu" default-active="1-1">
            <el-menu-item-group title="分组一">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-message"></i>导航一</template>
                    <el-menu-item index="1-1">选项1</el-menu-item>
                    <el-menu-item index="1-2">选项2</el-menu-item>
                    <el-menu-item index="1-3">选项3</el-menu-item>
                </el-submenu>
                <el-menu-item index="2">
                    <i class="el-icon-menu"></i>导航二
                </el-menu-item>
                <el-menu-item index="3">
                    <i class="el-icon-setting"></i>导航三
                </el-menu-item>
            </el-menu-item-group>
        </el-menu>
    </div>
    <div id="main-content" class="main-content">
        <div id="page-content">
            <div id="breadcrumb">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>活动管理</el-breadcrumb-item>
                    <el-breadcrumb-item>活动列表</el-breadcrumb-item>
                    <el-breadcrumb-item>活动详情</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div>
                <el-button size="small" icon="plus">新建</el-button>
                <el-button size="small" icon="edit">编辑</el-button>
                <el-button type="primary" size="small" icon="share"></el-button>
                <el-button type="primary" size="small" icon="delete"></el-button>
                <el-button type="primary" size="small" icon="search">搜索</el-button>
                <el-button type="primary" size="small">上传<i class="el-icon-upload el-icon--right"></i></el-button>
            </div>
        </div>
        <script type="text/javascript">
            var vm = new Vue({
                el: '#page-content',
                data: {}
            });
        </script>
    </div>
</div>
<script type="text/javascript">
    var sider_vm = new Vue({
        el: '#sidebar',
        data: {}
    });

    var nav_vm = new Vue({
        el: '#navbar'
    });
</script>
</body>
</html>
