{%header "工程师" .%}
<link rel="stylesheet" type="text/css" href="/static/ace/css/chosen.min.css"/>
<script type="text/javascript" src="/static/ace/js/chosen.jquery.min.js"></script>
<div id="page">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href='{%url "Home.Index"%}'><i class="ace-icon fa fa-home home-icon"></i></a>
            </li>
            <li class="parent" data-menu="itsm-menu">ITSM</li>
            <li class="active" data-menu="itsm-engineer-menu">工程师</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12" style="padding: 0;">
                <div class="gridToolBar clearfix">
                    <button class="btn btn-primary btn-sm" @click="reloadList('#engineerList')">
                        <i class="ace-icon fa fa-refresh"></i>
                        刷新
                    </button>
                    <button class="btn btn-success btn-sm" @click="showAddEngineer()">
                        <i class="ace-icon fa fa-plus"></i>
                        添加
                    </button>
                    <button class="btn btn-danger btn-sm" @click="deleteEngineer()">
                        <i class="ace-icon fa fa-trash-o"></i>
                        移除
                    </button>
                </div>
                <div>
                    <table id="engineerList" class="table table-striped table-bordered table-hover"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="engineerAddDialog">
        <div class="modal-dialog" style="width: 780px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="True">&times;</button>
                    <h4 class="modal-title">添加工程师</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="userList" class="table table-striped table-bordered table-hover"></table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" @click="saveAddEngineer()">
                        <i class="ace-icon fa fa-floppy-o"></i>保存
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="engineerDetailDialog">
        <div class="modal-dialog" style="width: 580px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="True">&times;</button>
                    <h4 class="modal-title">工程师详细</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal" role="form" id="engineerDetailForm">
                                <div class="form-group">
                                    <label for="service_area" class="col-xs-2 control-label no-padding-right">服务区域</label>
                                    <div class="col-xs-10">
                                        <select id="service_area" multiple="" class="chosen-select form-control" data-placeholder="请选择服务区域..." v-model="detail.service_area">
                                            <option value=""></option>
                                            <template v-for="service_area in detail.service_area_list">
                                                <option :value="service_area.id">{{service_area.area_name}}</option>
                                            </template>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" @click="saveEngineer()">
                        <i class="ace-icon fa fa-floppy-o"></i>保存
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: "#page",
        data: {
            "detail": {
                "engineer": {},
                "service_area": [],
                "service_area_list": [
                    {
                        "id": 1,
                        "area_name": "Service Area 1",
                        "area_desc": null,
                        "create_time": "2016-11-07 22:39",
                        "update_time": "2016-11-07 22:39",
                        "version": 1
                    },
                    {
                        "id": 2,
                        "area_name": "Service Area 2",
                        "area_desc": null,
                        "create_time": "2016-11-07 22:39",
                        "update_time": "2016-11-07 22:39",
                        "version": 1
                    }
                ]
            }
        },
        mounted: function () {
            initDataTable(
                    '#engineerList',
                    {
                        "sAjaxSource": '{%url "ItsmEngineer.ListData"%}',
                        "aaSorting": [[1, "asc"]],
                        "aoColumns": [
                            {
                                "mDataProp": "e.id", "bSearchable": false, "orderable": false, "sClass": "center", "width": 50,
                                "title": '<input type="checkbox" class="ace checkall"/><span class="lbl"></span>',
                                "render": function (data, type, row) {
                                    return '<input type="checkbox" class="ace" value="' + data + '"/><span class="lbl"></span>';
                                }
                            },

                            {"mDataProp": "u.login_name", "title": "登录名", "bSearchable": true},
                            {"mDataProp": "u.nick_name", "title": "用户名", "bSearchable": true},
                            {"mDataProp": "u.sex", "title": "性别", "bSearchable": true, "width": 70},
                            {"mDataProp": "u.phone", "title": "联系电话", "bSearchable": true, "width": 140},

                            {"mDataProp": "e.create_time", "title": "创建时间", "bSearchable": false, "width": 120},
                            {"mDataProp": "e.update_time", "title": "修改时间", "bSearchable": false, "width": 120}
                        ]
                    }
            );

            $('#engineerList tbody').on('dblclick', 'tr', function () {
                var id = $(this).find('td:first-child input:checkbox').val();
                vm.showEngineerDetail(id);
            });

        },
        methods: {
            reloadList: function () {
                reloadList('#engineerList');
            },
            showEngineerDetail: function (id) {
                showMask("加载中...");
                $("#engineerDetailForm").clearValidation();
                $.ajax({
                           url: '{%url "ItsmEngineer.DetailData" %}',
                           type: "POST",
                           data: {
                               "id": id
                           },
                           success: function (result) {
                               hideMask();
                               if (result.success == false) {
                                   $.msg.error(result.message);
                                   return;
                               }
                               vm.detail = result;

                               $('#engineerDetailDialog').modal(modalOptions);
                           }
                       }
                );
            },
            saveEngineer: function () {
                showMask("提交中...");
                var form = $("#engineerDetailForm");
                var valid = validate(form, {});

                if (!valid) {
                    hideMask();
                } else {
                    $.ajax({
                               url: '{%url "ItsmEngineer.Save"%}',
                               type: "POST",
                               processData: false,
                               contentType: 'application/json',
                               data: JSON.stringify(vm.detail),
                               success: function (data) {
                                   hideMask();
                                   if (data.success == false) {
                                       $.msg.error(data.message);
                                       //return;
                                   }
                                   else {
                                       $.msg.show(data.message);
                                       $('#engineerDetailDialog').modal('hide');
                                       vm.reloadList();
                                       //return;
                                   }
                               }
                           }
                    );
                }
            },
            showAddEngineer: function () {
                var userListDataTableCount = $("#userList_wrapper").size();
                if (userListDataTableCount == 0) {
                    initDataTable(
                            '#userList',
                            {
                                "sAjaxSource": '{%url "ItsmEngineer.AddListData"%}',
                                "bAutoWidth": false,
                                "aaSorting": [[1, "asc"]],
                                "aoColumns": [
                                    {
                                        "mDataProp": "id", "bSearchable": false, "orderable": false, "sClass": "center", "width": 50,
                                        "title": '<input type="checkbox" class="ace checkall"/><span class="lbl"></span>',
                                        "render": function (data, type, row) {
                                            return '<input type="checkbox" class="ace" value="' + data + '"/><span class="lbl"></span>';
                                        }
                                    },
                                    {"mDataProp": "login_name", "title": "登录名", "bSearchable": true},
                                    {"mDataProp": "nick_name", "title": "用户名", "bSearchable": true},
                                    {"mDataProp": "sex", "title": "性别", "bSearchable": true},
                                    {"mDataProp": "phone", "title": "联系电话", "bSearchable": true},
                                    {"mDataProp": "create_time", "title": "创建时间", "bSearchable": false, "width": 120},
                                    {"mDataProp": "update_time", "title": "修改时间", "bSearchable": false, "width": 120}
                                ]
                            }
                    );
                }
                else {
                    $("#userList").dataTable().api().draw(true);
                }

                $('#engineerAddDialog').modal(modalOptions);
            },
            saveAddEngineer: function () {
                var id_list = [];
                $('#userList tbody tr>td:first-child input:checkbox').each(function () {
                    if (this.checked) {
                        id_list.push($(this).val());
                    }
                });

                if (id_list.length == 0) {
                    $.msg.alert("请选择数据！");
                    return;
                }

                $.msg.confirm("确认要添加吗？", function () {
                    showMask("提交中...");
                    $.ajax({
                               url: '{%url "ItsmEngineer.AddSave"%}',
                               type: "POST",
                               data: {"id_list": id_list},
                               success: function (data) {
                                   hideMask();
                                   if (data.success == false) {
                                       $.msg.error(data.message);
                                       return;
                                   }
                                   else {
                                       $.msg.show(data.message);
                                       $('#engineerAddDialog').modal('hide');
                                   }
                                   reloadList('#engineerList');
                               }
                           });
                });
            },
            deleteEngineer: function () {
                var id_list = [];
                $('#engineerList tbody tr>td:first-child input:checkbox').each(function () {
                    if (this.checked) {
                        id_list.push($(this).val());
                    }
                });

                if (id_list.length == 0) {
                    $.msg.alert("请选择数据！");
                    return;
                }

                $.msg.confirm("确认要删除吗？", function () {
                    $.ajax({
                               url: '{%url "ItsmEngineer.Delete"%}',
                               type: "POST",
                               data: {"id_list": id_list},
                               success: function (data) {
                                   if (data.success == false) {
                                       $.msg.error(data.message);
                                       return;
                                   }
                                   else {
                                       $.msg.show(data.message);
                                   }
                                   vm.reloadList();
                               }
                           });
                });
            }
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        var service_area = $("#service_area");
        service_area.chosen({allow_single_deselect: true});
        service_area.trigger('chosen:updated');

        $(".chosen-container").removeAttr("style");
        $(".chosen-container input").removeAttr("style");
        $(".chosen-container input").addClass("form-control");
    });
</script>

{%footer%}

