{%header "工作日志管理" .%}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href='{%url "Home.Index"%}'><i class="ace-icon fa fa-home home-icon"></i></a>
        </li>
        <li class="parent" data-menu="oa-menu">办公系统</li>
        <li class="active" data-menu="oa-worklogadmin-menu">工作日志管理</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12" style="padding: 0;">
            <div class="gridToolBar clearfix">
                <button class="btn btn-primary btn-sm" onclick="reloadList('#worklogList')">
                    <i class="ace-icon fa fa-refresh"></i>
                    刷新
                </button>
            </div>
            <div>
                <table id="worklogList" class="table table-striped table-bordered table-hover"></table>
            </div>
            <div id="worklogDetailDialogWrapper"></div>
            <script type="text/javascript">
                function showWorklogDetail(id) {
                    $.ajax({
                               url: '{%url "OaWorklogAdmin.Detail" %}',
                               type: "POST",
                               data: {
                                   "id": id
                               },
                               success: function (result) {
                                   if (result.success == false) {
                                       $.msg.error(result.message);
                                       return;
                                   }
                                   $("#worklogDetailDialogWrapper").html(result);
                                   $('#worklogDetailDialog').modal(modalOptions);
                               }
                           }
                    );
                }

                $(function () {
                    initDataTable(
                            '#worklogList',
                            {
                                "sAjaxSource": '{%url "OaWorklogAdmin.ListData"%}',
                                "aaSorting": [[6, "desc"]],
                                "aoColumns": [
                                    {
                                        "mDataProp": "l.id", "bSearchable": false, "orderable": false, "sClass": "center", "width": 50,
                                        "title": '<input type="checkbox" class="ace checkall"/><span class="lbl"></span>',
                                        "render": function (data, type, row) {
                                            return '<input type="checkbox" class="ace" value="' + data + '"/><span class="lbl"></span>';
                                        }
                                    },
                                    {"mDataProp": "u.nick_name", "title": "用户", "bSearchable": true},
                                    {"mDataProp": "l.title", "title": "日志主题", "bSearchable": true},
                                    //{"mDataProp": "content", "title": "日志内容", "bSearchable": true },
                                    {"mDataProp": "l.work_date", "title": "工作日期", "bSearchable": false, "width": 85},
                                    {"mDataProp": "l.begin_time", "title": "开始时间", "bSearchable": true, "width": 120},
                                    {"mDataProp": "l.end_time", "title": "结束时间", "bSearchable": true, "width": 120},
                                    //{"mDataProp": "remark", "title": "备注", "bSearchable": true },
                                    {"mDataProp": "l.create_time", "title": "创建时间", "bSearchable": false, "width": 120},
                                    {"mDataProp": "l.update_time", "title": "修改时间", "bSearchable": false, "width": 120}
                                ]
                            }
                    );

                    $('#worklogList tbody').on('dblclick', 'tr', function () {
                        var id = $(this).find('td:first-child input:checkbox').val();
                        showWorklogDetail(id);
                    });
                });
            </script>

        </div>
    </div>
</div>
{%footer%}

