{{header "Home" .}}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href='{{url "Home.Index"}}'><i class="ace-icon fa fa-home home-icon"></i></a>
        </li>
        <li>Home</li>
        <li class="active">数据库同步</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12" style="padding: 0;">
            <div class="gridToolBar clearfix">
                <button class="btn btn-yellow btn-sm" onclick="syncdb()">
                    <i class="ace-icon fa fa-cog"></i>
                    同步数据库
                </button>
            </div>
            <script type="text/javascript">
                function syncdb() {
                    $.msg.confirm("确认要同步数据库吗？", function () {
                        $.ajax({
                                   url: '{{url "Home.SyncDbPost"}}',
                                   type: "POST",
                                   success: function (data) {
                                       if (data.success == false) {
                                           $.msg.error(data.message);
                                           return;
                                       }
                                       else {
                                           $.msg.show(data.message);
                                           return;
                                       }
                                   }
                               });
                    });
                }
            </script>
        </div>
    </div>
</div>
{{footer}}
