{%header "微信配置" .%}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href='{%url "Home.Index"%}'><i class="ace-icon fa fa-home home-icon"></i></a>
        </li>
        <li class="active">Home</li>
        <li class="parent" data-menu="setting-menu">系统设置</li>
        <li class="active" data-menu="setting-weixincfg-menu">微信配置</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12" style="padding: 0;">
            <div class="widget-box" style="border-style:none;width:600px; ">
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-horizontal" id="configForm" style="margin: 20px 0 30px 0;">
                            <div class="form-group">
                                <label for="token" class="col-xs-3 control-label no-padding-right">Token：</label>
                                <div class="col-xs-8">
                                    <input id="token" name="form.Token" type="text" class="form-control input-sm" value="{% .form.Token %}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="encoding_aes_key" class="col-xs-3 control-label no-padding-right">EncodingAESKey：</label>
                                <div class="col-xs-8">
                                    <input id="encoding_aes_key" name="form.EncodingAesKey" type="text" class="form-control input-sm" value="{% .form.EncodingAesKey %}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="app_id" class="col-xs-3 control-label no-padding-right">AppId：</label>
                                <div class="col-xs-8">
                                    <input id="app_id" name="form.AppId" type="text" class="form-control input-sm" value="{% .form.AppId %}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="app_secret" class="col-xs-3 control-label no-padding-right">AppSecret：</label>
                                <div class="col-xs-8">
                                    <input id="app_secret" name="form.AppSecret" type="text" class="form-control input-sm" value="{% .form.AppSecret %}"/>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <div class="wizard-actions">
                            <button class="btn btn-sm btn-primary" onclick="saveConfig()">
                                <i class="ace-icon fa fa-floppy-o"></i>
                                保存
                            </button>
                            <script type="text/javascript">
                                function saveConfig() {
                                    showMask("提交中...");
                                    var form = $("#configForm");

                                    var valid = validate(
                                            form,
                                            {
                                                'form.Token': {
                                                    required: true,
                                                    minlength: 3,
                                                    maxlength: 32
                                                },
                                                'form.EncodingAesKey': {
                                                    minlength: 43,
                                                    maxlength: 43
                                                },
                                                'form.AppId': {
                                                    maxlength: 100
                                                },
                                                'form.AppSecret': {
                                                    maxlength: 100
                                                }
                                            }
                                    );

                                    if (!valid) {
                                        hideMask();
                                    } else {
                                        $.ajax({
                                                   url: '{% url "WeixinConfig.Save" %}',
                                                   type: "POST",
                                                   data: form.serialize(),
                                                   success: function (data) {
                                                       hideMask();
                                                       if (data.success == false) {
                                                           $.msg.error(data.message);
                                                           resetForm();
                                                           //return;
                                                       }
                                                       else {
                                                           $.msg.alert(data.message);
                                                           //return;
                                                       }
                                                   }
                                               }
                                        );
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%footer%}
