body {
    font-family: '微软雅黑';
    font-size: 12px;
    color: #393939;
    margin: 0;
    line-height: 100%;
}

div.navbar {
    height: 40px;
    background-color: #20a0ff;
    padding-left: 10px;
}

div.navbar::after {
    content: '';
    clear: both;
}

div.navbar span.system-title {
    line-height: 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

div.navbar #login-select > .el-submenu .el-submenu__title {
    font-weight: bold;
    color: white;
}

div.navbar #login-select > .el-submenu .el-submenu__title > i {
    font-size: 14px;
    color: white;
}

div.navbar #login-select > .el-submenu:hover .el-submenu__title {
    /*border-style: none;*/
    color: #475669;
    background-color: #eff2f7;
}

div.navbar #login-select > .el-submenu:hover .el-submenu__title > i {
    color: #475669;
}

div.navbar #login-select .el-menu-item, div.navbar #login-select > .el-submenu .el-submenu__title {
    font-size: 12px;
    height: 40px;
    line-height: 40px;

}

div.navbar #login-select {
    border-radius: 0;
    background-color: transparent;
}

div.navbar #login-select > li.el-submenu > ul.el-menu {
    top: 40px;
    left: auto;
    right: 0;
}

div.main-container {
    min-height: 100%;
}

div.main-container::after {
    content: '';
    clear: both;
}

div.sidebar {
    float: left;
    width: 180px;
    min-height: 100%;
    background-color: #eff2f7;
}

div.sidebar #nav-select {
    border-radius: 0;
    border-bottom: 2px solid #d3dce6;
}

div.sidebar #nav-select > li.el-submenu {
    width: 180px;
}

div.sidebar #nav-select > li.el-submenu > div.el-submenu__title > i.el-submenu__icon-arrow {
    position: absolute;
}

div.sidebar #nav-select .el-menu-item, div.sidebar #nav-select .el-submenu__title {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}

div.sidebar #nav-select > li.el-submenu > ul.el-menu {
    top: 40px;
}

div.sidebar #nav-menu .el-menu-item-group__title {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
}

div.sidebar #nav-menu .el-menu-item, div.sidebar #nav-menu .el-submenu__title {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}

div.main-content {
    margin-left: 180px;
}

div.main-content div#page-content {
    padding-left: 10px;
    padding-right: 10px;
}

div#page-content div#breadcrumb {
    float: right;
}

div#page-content div#buttons {
    float: left;
    margin-top: 8px;
}

div#page-content div#breadcrumb div.el-breadcrumb {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}

div#breadcrumb .el-breadcrumb__item__inner a {
    text-decoration: none;
}

div#page-content div#toolbar {
    height: 40px;
    margin-bottom: 5px;
}

div#page-content div#toolbar::after {
    content: '';
    clear: both;
}

i.btn-icon {
    margin-right: 5px;
    margin-top: 0px;
}

div.el-table {
    font-size: 12px;
}

.el-table td, .el-table th {
    height: 35px;
}

.el-pagination span {
    font-size: 12px;
}

.el-pager li {
    font-size: 12px;
}

.el-pagination {
    text-align: right;
    margin-top: 5px;
}