body {
    font-family: '微软雅黑';
    font-size: 12px;
    margin: 0;
    line-height: 100%;
}

ul.breadcrumb > li, ul.breadcrumb > li.active {
    color: #777777;
}

/*
cause firefox display dataTables incorrect, remove the th
.table th, td {
    white-space: nowrap;
}
*/

.table td {
    white-space: nowrap;
}

.table > thead > tr > th:last-child {
    border-right-color: #dddddd !important;
}

div.dataTables_wrapper div.dataTables_info {
    line-height: 32px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin-right: 0;
}

div.dataTables_wrapper div.dataTables_filter input{
    margin-right: 0 !important;
}

.dtRight {
    text-align: right;
}

.dtCenter {
    text-align: center;
}

.writeLink {
    color: #fff;
}

.writeLink:link {
    color: #fff;
}

.writeLink:visited {
    COLOR: #fff;
}

.writeLink:hover {
    COLOR: #fff;
}

.writeLink:active {
    COLOR: #fff;
}

/*遮照*/
.huaduCover {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1002;
}

.huaduCover .huaduBg {
    filter: alpha(opacity=0);
    opacity: 0.0;
    -moz-opacity: 0.0;
    background: #000;
    z-index: 2040;
}

.huaduCover .huaduProgressBar {
    z-index: 2040;
    border: solid 2px #86A5AD;
    background: white url('images/progressBar_m.gif') no-repeat 10px 10px;
    display: block;
    width: 208px;
    height: 48px;
    top: 50%;
    left: 50%;
    margin-left: -104px;
    margin-top: -24px;
    padding: 10px 10px 10px 50px;
    text-align: left;
    line-height: 27px;
    font-weight: bold;
    position: absolute;
    color: black;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}

.huaduConfirm {
    padding-left: 40px;
    padding-right: 40px;
    vertical-align: top;
    font-weight: bold;
    text-align: center;
}

/*遮照*/
.grayText {
    color: #a9a9a9;
}

.blue1 {
    color: #49a3df !important;
}

.table-striped > tbody > tr.selected {
    background-color: #d0d0d0 !important;
}

.gridToolBar {
    margin-bottom: 5px;
}

div.form-group div.input-group span.input-group-btn button.btn-sm {
    border-width: 2px !important;
    padding: 4px 9px 5px 9px;
}

table.dataDetail {

}

table.dataDetail td.lbl {
    background-color: #F4F4F4;
    text-align: right;
    width: 15%;
}
table.dataDetail td.data {
    width: 35%;
}