<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>登录 - {% .sys_name %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="/static/ace/css/all.css" class="ace-main-stylesheet" id="main-ace-style"/>
    <!--[if lte IE 9]>
    <link type="text/css" rel="stylesheet" href="/static/ace/css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <!--[if lte IE 9]>
    <link type="text/css" rel="stylesheet" href="/static/ace/css/ace-ie.min.css"/>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="/static/site.css"/>
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script type='text/javascript' src='/static/ace/js/jquery.min.js'>" + "<" + "/script>");
    </script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script type='text/javascript' src='/static/ace/js/jquery1x.min.js'>" + "<" + "/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script type='text/javascript' src='/static/ace/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script type="text/javascript" src="/static/ace/js/all1.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="/static/ace/js/html5shiv.min.js"></script>
    <script type="text/javascript" src="/static/ace/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/ace/js/all2.js"></script>
    <script type="text/javascript" src="/static/js/js.cookie.js"></script>
    <script type="text/javascript" src="/static/site.js"></script>
</head>

<body class="no-skin">
<div id="huaduCover" class="huaduCover" style="display: none;">
    <div class="huaduBg" id="huaduBg">&nbsp;</div>
    <div class="huaduProgressBar" id="huaduProgressBar"></div>
</div>

<div id="navbar" class="navbar navbar-default">
    <script type="text/javascript">
        try {
            ace.settings.check('navbar', 'fixed')
        } catch (e) {
        }
    </script>
    <div class="navbar-container" id="navbar-container">

        <div class="navbar-header pull-left" style="height: 80px;line-height: 80px;">
            <a href='{%url "Home.Index"%}' class="navbar-brand clearfix" style="font-size:36px;">
                <div class="pull-left" style="margin-left: 20px;margin-top: 15px;">
                    {% .sys_name %}
                </div>
            </a>
        </div>
    </div>
</div>
<div class="widget-box" style="width:600px;margin:50px auto 0 auto;">
    <div class="widget-header widget-header-blue widget-header-flat" style="height: 50px;">
        <h3 class="widget-title lighter" style="line-height:50px;">用户登录</h3>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <form class="form-horizontal" id="loginForm" style="margin: 20px 0 30px 0;">
                <div class="form-group">
                    <label for="loginName" class="col-xs-3 control-label no-padding-right" style="line-height: 30px;">用户名：</label>
                    <div class="col-xs-8">
                            <span class="block input-icon input-icon-left">
                             <i class="ace-icon fa fa-user" style="line-height: 40px;"></i>
                             <input id="loginName" name="form.LoginName" type="text" class="form-control" placeholder="请输入您的用户名" style="height: 40px;"/>
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-xs-3 control-label no-padding-right" style="line-height: 30px;">密码：</label>
                    <div class="col-xs-8">
                            <span class="block input-icon input-icon-left">
                             <i class="ace-icon fa fa-asterisk" style="line-height: 40px;"></i>
                             <input id="password" name="form.Password" type="password" class="form-control" placeholder="请输入您的密码" onkeydown="passwordOnKeyDown(event)" style="height: 40px;"/>
                            </span>
                    </div>
                </div>
            </form>
            <hr>
            <div class="wizard-actions">
                <button class="btn btn-primary" onclick="submitForm()">
                    <i class="ace-icon fa fa-user"></i>
                    登录
                </button>
                <button class="btn btn-default" onclick="resetForm()">
                    <i class="ace-icon fa fa-undo"></i>
                    重置
                </button>
                <script type="text/javascript">
                    function passwordOnKeyDown(e) {
                        var ev = window.event || e;
                        if (ev.keyCode == 13) {
                            submitForm();
                        }
                    }

                    function submitForm() {
                        var form = $("#loginForm");
                        var valid = validate(
                                form,
                                {
                                    'form.LoginName': {
                                        required: true,
                                        minlength: 3,
                                        maxlength: 10
                                    },
                                    'form.Password': {
                                        required: true,
                                        minlength: 6,
                                        maxlength: 12
                                    }
                                },
                                function (error, element) {
                                    error.appendTo(element.parent("span"));
                                }
                        );

                        if (valid) {
                            $.ajax({
                                       url: '{%url "Login.Login"%}',
                                       type: "POST",
                                       data: form.serialize(),
                                       success: function (data) {
                                           if (data.success == true) {
                                               window.location.href = '{%url "Home.Index"%}';
                                               //return;
                                           }
                                           else {
                                               $.msg.error(data.message);
                                               //return;
                                           }
                                       }
                                   }
                            );
                        }
                    }

                    function resetForm() {
                        $('#loginForm')[0].reset();
                    }
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>
