{%header "系统配置" .%}
<div id="page">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href='{%url "Home.Index"%}'><i class="ace-icon fa fa-home home-icon"></i></a>
            </li>
            <li class="parent" data-menu="inventory-menu">仓储管理</li>
            <li class="active" data-menu="inventory-config-menu">系统配置</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12" style="padding: 0;">
                <div class="widget-box" style="border-style:none;width:680px;">
                    <div class="widget-body">
                        <div class="widget-main">
                            <form class="form-horizontal" role="form" id="configDetailForm" @submit="saveConfig();return false;">
                                <input id="config_id" name="detail.config.id" type="hidden" v-model.number="detail.config.id"/>
                                <input id="config_version" name="detail.config.version" type="hidden" v-model.number="detail.config.version"/>
                                <div class="form-group">
                                    <label for="bill_in_auto_approve" class="col-xs-2 control-label no-padding-right">入库单自动审核</label>
                                    <div class="col-xs-10">
                                        <input id="bill_in_auto_approve" name="detail.config.bill_in_auto_approve" type="text" class="input-sm form-control" v-model="detail.config.bill_in_auto_approve"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="bill_out_auto_approve" class="col-xs-2 control-label no-padding-right">出库单自动审核</label>
                                    <div class="col-xs-10">
                                        <input id="bill_out_auto_approve" name="detail.config.bill_out_auto_approve" type="text" class="input-sm form-control" v-model="detail.config.bill_out_auto_approve"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pay_in_auto_approve" class="col-xs-2 control-label no-padding-right">收款单自动审核</label>
                                    <div class="col-xs-10">
                                        <input id="pay_in_auto_approve" name="detail.config.pay_in_auto_approve" type="text" class="input-sm form-control" v-model="detail.config.pay_in_auto_approve"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pay_out_auto_approve" class="col-xs-2 control-label no-padding-right">付款单自动审核</label>
                                    <div class="col-xs-10">
                                        <input id="pay_out_auto_approve" name="detail.config.pay_out_auto_approve" type="text" class="input-sm form-control" v-model="detail.config.pay_out_auto_approve"/>
                                    </div>
                                </div>
                            </form>
                            <hr/>
                            <div class="wizard-actions">
                                <button type="button" class="btn btn-success btn-sm" @click="saveConfig()">
                                    <i class="ace-icon fa fa-floppy-o"></i>保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: "#page",
        data: {
            "detail": {
                "config": {}
            }
        },
        mounted: function () {
            this.showConfigDetail();
        },
        methods: {
            showConfigDetail: function () {
                showMask("加载中...");
                $("#configDetailForm").clearValidation();
                $.ajax({
                           url: '{%url "InventoryConfig.DetailData" %}',
                           type: "POST",
                           success: function (result) {
                               hideMask();
                               if (result.success == false) {
                                   $.msg.error(result.message);
                                   return;
                               }
                               vm.detail = result;
                           }
                       }
                );
            },
            saveConfig: function () {
                showMask("提交中...");
                var form = $("#configDetailForm");
                var valid = validate(form, {
                    'detail.config.bill_in_auto_approve': {
                        required: false
                    },
                    'detail.config.bill_out_auto_approve': {
                        required: false
                    },
                    'detail.config.pay_in_auto_approve': {
                        required: false
                    },
                    'detail.config.pay_out_auto_approve': {
                        required: false
                    }
                });

                if (!valid) {
                    hideMask();
                } else {
                    $.ajax({
                               url: '{%url "InventoryConfig.Save"%}',
                               type: "POST",
                               processData: false,
                               contentType: 'application/json',
                               data: JSON.stringify(vm.detail),
                               success: function (data) {
                                   hideMask();
                                   if (data.success == false) {
                                       $.msg.error(data.message);
                                       //return;
                                   }
                                   else {
                                       $.msg.show(data.message);
                                       //return;
                                   }
                               }
                           }
                    );
                }
            }
        }
    });
</script>
{%footer%}

