{%header "系统配置" .%}
<div id="page">
   <div class="breadcrumbs" id="breadcrumbs">
       <ul class="breadcrumb">
           <li>
               <a href='{%url "Home.Index"%}'><i class="ace-icon fa fa-home home-icon"></i></a>
           </li>
           <li class="parent" data-menu="inventory-menu">仓储管理</li>
           <li class="active" data-menu="inventory-config-menu">系统配置</li>
       </ul>
   </div>
   <div class="page-content">
       <div class="row">
           <div class="col-xs-12" style="padding: 0;">
               <div class="gridToolBar clearfix">
                   <button class="btn btn-primary btn-sm" @click="reloadList('#configList')">
                       <i class="ace-icon fa fa-refresh"></i>
                       刷新
                   </button>
                   <button class="btn btn-success btn-sm" @click="showConfigDetail(0)">
                       <i class="ace-icon fa fa-plus"></i>
                       新增
                   </button>
                   <button class="btn btn-danger btn-sm" @click="deleteConfig()">
                       <i class="ace-icon fa fa-trash-o"></i>
                       删除
                   </button>
               </div>
               <div>
                   <table id="configList" class="table table-striped table-bordered table-hover"></table>
               </div>
           </div>
       </div>
   </div>
    <div class="modal fade" id="configDetailDialog">
        <div class="modal-dialog" style="width: 680px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="True">&times;</button>
                    <h4 class="modal-title">系统配置详细</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal" role="form" id="configDetailForm">
                                <input id="config_id" name="detail.config.id" type="hidden" v-model.number="detail.config.id"/>
                                <input id="config_version" name="detail.config.version" type="hidden" v-model.number="detail.config.version"/>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="bill_in_auto_approve" class="col-xs-2 control-label no-padding-right">入库单自动审核</label>
                                            <div class="col-xs-10">
                                                <input id="bill_in_auto_approve" name="detail.config.bill_in_auto_approve" type="text" class="input-sm form-control" v-model.number="detail.config.bill_in_auto_approve"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="bill_out_auto_approve" class="col-xs-2 control-label no-padding-right">出库单自动审核</label>
                                            <div class="col-xs-10">
                                                <input id="bill_out_auto_approve" name="detail.config.bill_out_auto_approve" type="text" class="input-sm form-control" v-model.number="detail.config.bill_out_auto_approve"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="pay_in_auto_approve" class="col-xs-2 control-label no-padding-right">收款单自动审核</label>
                                            <div class="col-xs-10">
                                                <input id="pay_in_auto_approve" name="detail.config.pay_in_auto_approve" type="text" class="input-sm form-control" v-model.number="detail.config.pay_in_auto_approve"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="pay_out_auto_approve" class="col-xs-2 control-label no-padding-right">付款单自动审核</label>
                                            <div class="col-xs-10">
                                                <input id="pay_out_auto_approve" name="detail.config.pay_out_auto_approve" type="text" class="input-sm form-control" v-model.number="detail.config.pay_out_auto_approve"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" @click="saveConfig()">
                        <i class="ace-icon fa fa-floppy-o"></i>保存
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: "#page",
        data: {
            "detail": {
                "config": {}
            }
        },
        mounted: function () {
            initDataTable(
                    '#configList',
                    {
                        "sAjaxSource": '{%url "InventoryConfig.ListData"%}',
                        "aaSorting": [[1, "asc"]],
                        "aoColumns": [
                            {
                                "mDataProp": "id", "bSearchable": false, "orderable": false, "sClass": "center", "width": 50,
                                "title": '<input type="checkbox" class="ace checkall"/><span class="lbl"></span>',
                                "render": function (data, type, row) {
                                    return '<input type="checkbox" class="ace" value="' + data + '"/><span class="lbl"></span>';
                                }
                            },
                            {"mDataProp": "bill_in_auto_approve", "title": "入库单自动审核", "bSearchable": false },
                            {"mDataProp": "bill_out_auto_approve", "title": "出库单自动审核", "bSearchable": false },
                            {"mDataProp": "pay_in_auto_approve", "title": "收款单自动审核", "bSearchable": false },
                            {"mDataProp": "pay_out_auto_approve", "title": "付款单自动审核", "bSearchable": false },
                            {"mDataProp": "create_time", "title": "创建时间", "bSearchable": false, "width": 120 },
                            {"mDataProp": "update_time", "title": "修改时间", "bSearchable": false, "width": 120 }
                        ]
                   }
            );

            $('#configList tbody').on('dblclick', 'tr', function () {
                var id = $(this).find('td:first-child input:checkbox').val();
                vm.showConfigDetail(id);
            });
        },
        methods: {
            reloadList: function () {
                reloadList('#configList');
            },
            showConfigDetail: function (id) {
                showMask("加载中...");
                $.ajax({
                           url: '{%url "InventoryConfig.DetailData" %}',
                           type: "POST",
                           data: {
                               "id": id
                           },
                           success: function (result) {
                               hideMask();
                               if (result.success == false) {
                                   $.msg.error(result.message);
                                   return;
                               }
                               vm.detail = result;
                               $('#configDetailDialog').modal(modalOptions);
                           }
                       }
                );
            },
            saveConfig: function () {
                showMask("提交中...");
                var form = $("#configDetailForm");
                var valid = validate(form, {  
                    'detail.config.bill_in_auto_approve': {
                        required: false, digits: true
                    },
                    'detail.config.bill_out_auto_approve': {
                        required: false, digits: true
                    },
                    'detail.config.pay_in_auto_approve': {
                        required: false, digits: true
                    },
                    'detail.config.pay_out_auto_approve': {
                        required: false, digits: true
                    }
                });

                if (!valid) {
                    hideMask();
                } else {
                    $.ajax({
                               url: '{%url "InventoryConfig.Save"%}',
                               type: "POST",
                               processData: false,
                               contentType: 'application/json',
                               data: JSON.stringify(vm.detail),
                               success: function (data) {
                                   hideMask();
                                   if (data.success == false) {
                                       $.msg.error(data.message);
                                       //return;
                                   }
                                   else {
                                       $.msg.show(data.message);
                                       $('#configDetailDialog').modal('hide');
                                       vm.reloadList();
                                       //return;
                                   }
                               }
                           }
                    );
                }
            },
            deleteConfig: function () {
                var id_list = [];
                $('#configList tbody tr>td:first-child input:checkbox').each(function () {
                    if (this.checked) {
                        id_list.push($(this).val());
                    }
                });

                if (id_list.length == 0) {
                    $.msg.alert("请选择数据！");
                    return;
                }

                $.msg.confirm("确认要删除吗？", function () {
                    $.ajax({
                               url: '{%url "InventoryConfig.Delete"%}',
                               type: "POST",
                               data: {"id_list": id_list},
                               success: function (data) {
                                   if (data.success == false) {
                                       $.msg.error(data.message);
                                       return;
                                   }
                                   else {
                                       $.msg.show(data.message);
                                   }
                                   vm.reloadList();
                               }
                           });
                });
            }
        }
    });
</script>
{%footer%}

