{%header "个人中心" .%}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href='{%url "Home.Index"%}'><i class="ace-icon fa fa-home home-icon"></i></a>
        </li>
        <li class="active" data-menu="profile-menu">个人设置</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12" style="padding: 0;">
            <div class="widget-box" style="border-style:none;width:600px; ">
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-horizontal" id="profileForm" style="margin: 20px 0 30px 0;" onsubmit="saveProfile();return false;">
                            <div class="form-group">
                                <label for="loginName" class="col-xs-3 control-label no-padding-right">登录名：</label>
                                <div class="col-xs-8">
                                    <input id="loginName" name="login_name" type="text" class="form-control input-sm" readonly="readonly" value="{% .user_LoginName %}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nickName" class="col-xs-3 control-label no-padding-right">用户名：</label>
                                <div class="col-xs-8">
                                    <input id="nickName" name="nick_name" type="text" class="form-control input-sm" readonly="readonly" value="{% .user_NickName %}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-xs-3 control-label no-padding-right">密码：</label>
                                <div class="col-xs-8">
                                    <input id="password" name="form.Password" type="password" class="form-control input-sm" placeholder="如需更改密码，请输入您的新密码！"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password_again" class="col-xs-3 control-label no-padding-right">密码重输：</label>
                                <div class="col-xs-8">
                                    <input id="password_again" name="form.PasswordAgain" type="password" class="form-control input-sm" placeholder="密码重输！"/>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <div class="wizard-actions">
                            <button class="btn btn-sm btn-primary" onclick="saveProfile()">
                                <i class="ace-icon fa fa-floppy-o"></i>
                                保存
                            </button>
                            <button class="btn btn-sm btn-default" onclick="resetForm()">
                                <i class="ace-icon fa fa-undo"></i>
                                重置
                            </button>
                            <script type="text/javascript">
                                function saveProfile() {
                                    showMask("提交中...");
                                    var form = $("#profileForm");

                                    var valid = validate(
                                            form,
                                            {
                                                'form.Password': {
                                                    minlength: 6,
                                                    maxlength: 12
                                                },
                                                'form.PasswordAgain': {
                                                    minlength: 6,
                                                    maxlength: 12,
                                                    equalTo: "#password"
                                                }
                                            }
                                    );

                                    if (!valid) {
                                        hideMask();
                                    } else {
                                        $.ajax({
                                                   url: '{% url "AuthProfile.Save" %}',
                                                   type: "POST",
                                                   data: form.serialize(),
                                                   success: function (data) {
                                                       hideMask();
                                                       if (data.success == false) {
                                                           $.msg.error(data.message);
                                                           resetForm();
                                                           //return;
                                                       }
                                                       else {
                                                           $.msg.show(data.message);
                                                           //return;
                                                       }
                                                   }
                                               }
                                        );
                                    }
                                }

                                function resetForm() {
                                    $('#profileForm')[0].reset();
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%footer%}
