<div class="modal fade" id="storageLocDetailDialog">
    <div class="modal-dialog" style="width: 440px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="True">&times;</button>
                <h4 class="modal-title">库位详细</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" role="form" id="storageLocDetailForm" onsubmit="saveStorageLoc();return false;">
                            <input id="storageLoc_id" name="form.StorageLoc.Id" type="hidden" value="{%.form.StorageLoc.Id%}"/>
                            <input id="storageLoc_version" name="form.StorageLoc.Version" type="hidden" value="{%.form.StorageLoc.Version%}"/>
                            <input id="stock_id" name="form.StorageLoc.StockId" type="hidden" class="input-sm form-control" value="{%.form.StorageLoc.StockId%}"/>
                            <div class="form-group">
                                <label for="stock_code" class="col-xs-2 control-label no-padding-right">编号</label>
                                <div class="col-xs-10">
                                    <input id="stock_code" name="form.StorageLoc.Code" type="text" class="input-sm form-control" value="{%.form.StorageLoc.Code%}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="stock_name" class="col-xs-2 control-label no-padding-right">名称</label>
                                <div class="col-xs-10">
                                    <input id="stock_name" name="form.StorageLoc.Name" type="text" class="input-sm form-control" value="{%.form.StorageLoc.Name%}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="remark" class="col-xs-2 control-label no-padding-right">备注</label>
                                <div class="col-xs-10">
                                    <input id="remark" name="form.StorageLoc.Remark" type="text" class="input-sm form-control" value="{%.form.StorageLoc.Remark%}"/>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" onclick="saveStorageLoc()">
                    <i class="ace-icon fa fa-floppy-o"></i>保存
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>关闭
                </button>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
    function saveStorageLoc() {
        showMask("提交中...");
        var form = $("#storageLocDetailForm");
        var valid = validate(form, {
            'form.StorageLoc.Code': {
                required: true, minlength: 3, maxlength: 10
            },
            'form.StorageLoc.Name': {
                required: true, minlength: 3, maxlength: 30
            },
            'form.StorageLoc.StockId': {
                required: true, digits: true
            },
            'form.StorageLoc.Remark': {
                required: false, minlength: 3, maxlength: 250
            }
        });

        if (!valid) {
            hideMask();
        } else {
            $.ajax({
                       url: '{%url "InventoryStorageLoc.Save"%}',
                       type: "POST",
                       data: form.serialize(),
                       success: function (data) {
                           hideMask();
                           if (data.success == false) {
                               $.msg.error(data.message);
                               //return;
                           }
                           else {
                               $.msg.show(data.message);
                               $('#storageLocDetailDialog').modal('hide');
                               reloadList('#storageLocList');
                               //return;
                           }
                       }
                   }
            );
        }
    }
</script>

