

            <li id="itsm-menu" class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-users"></i>
                    <span class="menu-text">ITSM</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">

                    <li id="itsm-eventstatus-menu" class="">
                        <a href="/itsm/event/status">
                            <i class="menu-icon fa fa-caret-right"></i>
                            事件状态
                        </a>
                        <b class="arrow"></b>
                    </li>

                </ul>
            </li>
