{%header "设备" .%}
<div id="page">
   <div class="breadcrumbs" id="breadcrumbs">
       <ul class="breadcrumb">
           <li>
               <a href='{%url "Home.Index"%}'><i class="ace-icon fa fa-home home-icon"></i></a>
           </li>
           <li class="parent" data-menu="itsm-menu">ITSM</li>
           <li class="active" data-menu="itsm-equipment-menu">设备</li>
       </ul>
   </div>
   <div class="page-content">
       <div class="row">
           <div class="col-xs-12" style="padding: 0;">
               <div class="gridToolBar clearfix">
                   <button class="btn btn-primary btn-sm" @click="reloadList('#equipmentList')">
                       <i class="ace-icon fa fa-refresh"></i>
                       刷新
                   </button>
                   <button class="btn btn-success btn-sm" @click="showEquipmentDetail(0)">
                       <i class="ace-icon fa fa-plus"></i>
                       新增
                   </button>
                   <button class="btn btn-danger btn-sm" @click="deleteEquipment()">
                       <i class="ace-icon fa fa-trash-o"></i>
                       删除
                   </button>
               </div>
               <div>
                   <table id="equipmentList" class="table table-striped table-bordered table-hover"></table>
               </div>
           </div>
       </div>
   </div>
    <div class="modal fade" id="equipmentDetailDialog">
        <div class="modal-dialog" style="width: 680px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="True">&times;</button>
                    <h4 class="modal-title">设备详细</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal" role="form" id="equipmentDetailForm">
                                <input id="equipment_id" name="detail.equipment.id" type="hidden" v-model.number="detail.equipment.id"/>
                                <input id="equipment_version" name="detail.equipment.version" type="hidden" v-model.number="detail.equipment.version"/>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="code" class="col-xs-2 control-label no-padding-right">编码</label>
                                            <div class="col-xs-10">
                                                <input id="code" name="detail.equipment.code" type="text" class="input-sm form-control" v-model="detail.equipment.code"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="name" class="col-xs-2 control-label no-padding-right">名称</label>
                                            <div class="col-xs-10">
                                                <input id="name" name="detail.equipment.name" type="text" class="input-sm form-control" v-model="detail.equipment.name"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="status_id" class="col-xs-2 control-label no-padding-right">状态</label>
                                            <div class="col-xs-10">
                                                <input id="status_id" name="detail.equipment.status_id" type="text" class="input-sm form-control" v-model.number="detail.equipment.status_id"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" @click="saveEquipment()">
                        <i class="ace-icon fa fa-floppy-o"></i>保存
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: "#page",
        data: {
            "detail": {
                "equipment": {}
            }
        },
        mounted: function () {
            initDataTable(
                    '#equipmentList',
                    {
                        "sAjaxSource": '{%url "ItsmEquipment.ListData"%}',
                        "aaSorting": [[1, "asc"]],
                        "aoColumns": [
                            {
                                "mDataProp": "id", "bSearchable": false, "orderable": false, "sClass": "center", "width": 50,
                                "title": '<input type="checkbox" class="ace checkall"/><span class="lbl"></span>',
                                "render": function (data, type, row) {
                                    return '<input type="checkbox" class="ace" value="' + data + '"/><span class="lbl"></span>';
                                }
                            },
                            {"mDataProp": "code", "title": "编码", "bSearchable": true },
                            {"mDataProp": "name", "title": "名称", "bSearchable": true },
                            {"mDataProp": "status_id", "title": "状态", "bSearchable": false },
                            {"mDataProp": "create_time", "title": "创建时间", "bSearchable": false, "width": 120 },
                            {"mDataProp": "update_time", "title": "修改时间", "bSearchable": false, "width": 120 }
                        ]
                   }
            );

            $('#equipmentList tbody').on('dblclick', 'tr', function () {
                var id = $(this).find('td:first-child input:checkbox').val();
                vm.showEquipmentDetail(id);
            });
        },
        methods: {
            reloadList: function () {
                reloadList('#equipmentList');
            },
            showEquipmentDetail: function (id) {
                showMask("加载中...");
                $("#equipmentDetailForm").clearValidation();
                $.ajax({
                           url: '{%url "ItsmEquipment.DetailData" %}',
                           type: "POST",
                           data: {
                               "id": id
                           },
                           success: function (result) {
                               hideMask();
                               if (result.success == false) {
                                   $.msg.error(result.message);
                                   return;
                               }
                               vm.detail = result;
                               $('#equipmentDetailDialog').modal(modalOptions);
                           }
                       }
                );
            },
            saveEquipment: function () {
                showMask("提交中...");
                var form = $("#equipmentDetailForm");
                var valid = validate(form, {  
                    'detail.equipment.code': {
                        required: true, minlength: 2, maxlength: 20
                    },
                    'detail.equipment.name': {
                        required: true, minlength: 2, maxlength: 20
                    },
                    'detail.equipment.status_id': {
                        required: true, digits: true
                    }
                });

                if (!valid) {
                    hideMask();
                } else {
                    $.ajax({
                               url: '{%url "ItsmEquipment.Save"%}',
                               type: "POST",
                               processData: false,
                               contentType: 'application/json',
                               data: JSON.stringify(vm.detail),
                               success: function (data) {
                                   hideMask();
                                   if (data.success == false) {
                                       $.msg.error(data.message);
                                       //return;
                                   }
                                   else {
                                       $.msg.show(data.message);
                                       $('#equipmentDetailDialog').modal('hide');
                                       vm.reloadList();
                                       //return;
                                   }
                               }
                           }
                    );
                }
            },
            deleteEquipment: function () {
                var id_list = [];
                $('#equipmentList tbody tr>td:first-child input:checkbox').each(function () {
                    if (this.checked) {
                        id_list.push($(this).val());
                    }
                });

                if (id_list.length == 0) {
                    $.msg.alert("请选择数据！");
                    return;
                }

                $.msg.confirm("确认要删除吗？", function () {
                    $.ajax({
                               url: '{%url "ItsmEquipment.Delete"%}',
                               type: "POST",
                               data: {"id_list": id_list},
                               success: function (data) {
                                   if (data.success == false) {
                                       $.msg.error(data.message);
                                       return;
                                   }
                                   else {
                                       $.msg.show(data.message);
                                   }
                                   vm.reloadList();
                               }
                           });
                });
            }
        }
    });
</script>
{%footer%}

